mat-form-field {
    width: 100%;
}

button {
  margin: 5px;
}

.username {
  color: #F50057
}

.room {
  color: #F50057
}

.vote {
  color: #F50057
}

.submit-vote {
  text-align: right
}

.sidenav {
  padding: 10px;
}

.btn-group button{
  display: block;
}

.mat-list-item.mat-list-item {
  height: initial !important;
  margin-bottom: 20px;
}
.mat-list-item .mat-line {
  word-wrap: break-word !important; 
  white-space: pre-wrap !important;
}