mat-form-field {
    width: 100%;
}

mat-card {
  margin: 14px
}

button {
  margin: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  color: #F50057
}

.room {
  color: #F50057
}

.vote {
  color: #F50057
}

.submit-vote {
  text-align: right
}

.empty-list {
  text-align: center
}

.sidenav {
  padding: 10px;
}

.mat-focused .mat-form-field-label {
  color: #5cb53f !important;
  }
  
  .mat-form-field-ripple {
  background-color: #5cb53f !important;
  }