<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button *ngIf="showAddButton()" mat-icon-button (click)="addMovie()">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button *ngIf="showDeleteButton()" mat-icon-button (click)="deleteMovie()">
        <mat-icon>delete</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <img class="poster" src={{movie.Poster}}>
    <mat-list> 
            <mat-list-item> 
                    <mat-icon mat-list-icon color="accent">title</mat-icon>  
                    <h4 mat-line>Title</h4>
                    <p mat-line>{{movie.Title}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">date_range</mat-icon>  
                <h4 mat-line>Year</h4>
                <p mat-line>{{movie.Year}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">access_time</mat-icon>  
                <h4 mat-line>Runtime</h4>
                <p mat-line>{{movie.Runtime}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">movie</mat-icon>  
                <h4 mat-line>Genre</h4>
                <p mat-line>{{movie.Genre}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">photo_camera</mat-icon>  
                <h4 mat-line>Director</h4>
                <p mat-line>{{movie.Director}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">mode_edit</mat-icon>  
                <h4 mat-line>Writer</h4>
                <p mat-line>{{movie.Writer}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">face</mat-icon>  
                <h4 mat-line>Actors</h4>
                <p mat-line>{{movie.Actors}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">star</mat-icon>  
                <h4 mat-line>Metascore</h4>
                <p mat-line>{{movie.Metascore}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">star</mat-icon>  
                <h4 mat-line>Imdb Rating</h4>
                <p mat-line>{{movie.imdbRating}}</p>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon color="accent">format_align_left</mat-icon>  
                <h4 mat-line>Plot</h4>
                <p mat-line >{{movie.Plot}}</p>
            </mat-list-item>
            
    </mat-list>
        
</mat-card>


